[Unit]
Description=Piper
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/srv/piper
User=piper
Group=piper
Type=simple
ExecStart=/srv/piper/piper_wrapper.sh

[Install]
WantedBy=multi-user.target
